* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.heading {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40vh;
}

.URL-input,
.convert-button {
    font-size: 1.3rem;
    padding: 5px 10px;
}

.URL-input {
    border-radius: 4px 0 0 4px;
    width: 30rem;
    text-align: left;
    border: 2px solid #eee;
    background: #eee;
    outline: none;

}

.URL-input:focus,
.convert-button {
    border: 2px solid green;
}

.convert-button {
    border-radius: 0 4px 4px 0;
    color: white;
    background-color: rgb(7, 101, 70);
}